@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=IM+Fell+Great+Primer:ital@0;1&family=Oooh+Baby&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image: url(../images/contactBackg.jpg);
    background-size: cover;
    height: 100vh;
}

.contactCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97.75%;
    justify-content: center;
}


.contactContainer h1{
    font-family: "Bona Nova SC", serif;
    font-size: clamp(2.5rem, 6vw, 4rem);
    letter-spacing: 0.2vw;
    color: white;
}

.contactContainer{
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-family: "Charm", serif;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    margin-top: clamp(6rem, 3vh, 10rem);
    max-width: fit-content;
}

.socialsContainer{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: calc(100%-4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}

.socialsContainer a{
    width: 10vw;
    height: auto;
    max-width: 10rem;
}

.socialsContainer a img{
    width: 100%;
    height: auto;
    filter: invert();
}

.socialsContainer a img:hover{
    filter: none;
}

.contactContainer ul li a{
    color: white;
}

.contactContainer ul li a:hover{
    color: grey;
}

footer{
    background-color: rgba(128, 128, 128, 0.229);
    width: 100vw;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .contactContainer {
        font-size: clamp(1.2rem, 3vw, 2rem);
        padding: 1.5rem;
        margin-top: 3rem;
    }

    .contactContainer h1 {
        font-size: clamp(2.5rem, 6vw, 4rem);
    }

    .socialsContainer {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .socialsContainer a {
        width: 15vw;
    }
}